# Cabal
dist
.cabal-sandbox/
cabal.sandbox.config
dist-newstyle
/ci-out/

# Stack
stack.yaml
stack.yaml.lock
.stack-work/

# nix/seaaye
/nix/seaaye
/nix/seaaye-cache
/nix/gcroots
/nix/ci-out
/nix/local-config.nix
